{% extends 'base.jinja2' %}

{% block content %}

    <script>
    $(document).ready(function(){
        $('span.img-help').mouseenter(function()
            {
                $(".flyout").show();
            });
        $('span.img-help').mouseleave(function()
            {
                $(".flyout").hide();
            });


    });

        // Removes the restrictions on the container size.
        $("#content-container").removeClass("content");

        // Need to display the languages in the select form
        var count = 0;


    </script>
    <h2>Add a book</h2>
    <form method="post" class="form-horizontal" action="#">
        <fieldset id="add_book_menu">
            <div class="flyout">
                <p>
                    Image from Amazon.com webpage. To get, right click on image and scroll to copy image address and paste here.
                </p>
            </div>
           <div class="form-group">
                <label for="inputTitle" class="control-label col-xs-3">Image: <span  class="img-help glyphicon glyphicon-question-sign" aria-hidden="true"></span></label>

                <div class="col-xs-9">
                    <input type="text" class="form-control" name="book_img" placeholder="Image URL">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTitle" class="control-label col-xs-3">Title:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="book_title" placeholder="Title">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAuthor" class="control-label col-xs-3">Author:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="book_author" placeholder="Author">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="control-label col-xs-3">Desciption:</label>
                <div class="col-xs-9">
                    <textarea type="test" class="form-control" name="book_description" placeholder="Book Description" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLanguage" class="control-label col-xs-3">Language:</label>
                <div class="col-xs-9">
                    <select class="form-control" name="language_id" id="select-language">
                        {% for language in languages %}
                        <script>
                            if(count==0)
                            {
                                $("#select-language").append('<option value="' + count + '" selected>{{language.language}}</option>');
                            }
                            else
                            {
                                $("#select-language").append('<option value="' + count + '">{{language.language}}</option>');
                            }
                            count++;
                        </script>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLanguage" class="control-label col-xs-3">Website to buy:</label>
                <div class="col-xs-9">
                    <input type="test" class="form-control" name="book_url" placeholder="http://www.amazon.com/">
                </div>
            </div>
            <div class="form-group">
                 <label for="inputTitle" class="control-label col-xs-3">User Id:</label>
                 <div class="col-xs-9">
                     <input type="text" class="form-control" name="user_id" placeholder="{{user.name}}" disabled>
                 </div>
             </div>
            <div class="text-center">
                <input type="submit" class="btn btn-blue" value="Submit">
                <a href="{{url_for('books.index')}}" class="btn btn-danger" id="cancel"  alt="Cancel">Cancel</a>
            </div>

        </fieldset>
    </form>

    <script>
        $("#add_book_menu").hover(function()
        {
            $('.img-help').show();
        },function()
        {
            $('.img-help').hide();
        });

    </script>
{% endblock %}
