{% extends "base.jinja2" %}

{% block content %}

<script>
    $("#content-container").removeClass("content");
</script>

<div class="col-md-12 form-back">
        <form action="{{url_for('books.delete_book',book_id=books.id)}}" method="post">
            <legend>Deleting {{books.title}}</legend>
            <fieldset>
                Deleting {{books.title}} will permanently delete form the database.
            </fieldset>
            <fieldset>
                <label class="confirm-delete">
                    Check box to confirm delete, else click cancel.<br>
                    <input type="checkbox"  id="confirm-delete"/> Are you sure?
                </label>
            </fieldset>
            <fieldset>
                <input type="submit" name="submit" class="btn inputButton" id="delete" value="Delete" disabled/>
                <a href="{{url_for('books.index')}}" class="btn btn-blue" id="cancel"  alt="Cancel">Cancel</a>
            </fieldset>
        </form>
</div>
<script>
var deleteBtn = document.getElementById('delete');
var confirm = document.getElementById('confirm-delete');
var checked = 0;

confirm.onchange = function()
{
    deleteChange();
}

function deleteChange()
{
    if(checked == 0)
    {
        deleteBtn.style.background = "#0f0";
        deleteBtn.style.color = "#000"
        deleteBtn.disabled = false;
        checked = 1;
    }
    else
    {
        deleteBtn.style.background = "#f00";
        deleteBtn.style.color = "gray"
        deleteBtn.disabled = true;
        checked = 0;
    }
}
</script>

{% endblock %}
