{% extends 'base.jinja2' %}

{% block content %}
<div class="container">
			<header class="logo">
				<img class="img-responsive" src="../static/image/logo2.png" alt="">
			</header>

            <img src="images/logout_error.svg" alt="Failed to logout">
        </div>

{% endblock %}
